body {
  margin: 0 auto;
  padding: 20px 10px;
  max-width: 1400px;
}
header {
  height: 200px;
  background-image: url("../img/isloch.png");
  background-repeat: no-repeat;
  background-position: center;
  -webkit-background-size: cover;
  background-size: cover;
}
nav {
  background-color: rgba(156,236,156,0.7);
  margin-top: 20px;
}
ul {
  margin: 0;
  padding: 10px;
}
li {
  display: inline-block;
  padding: 0 20px;
}
a {
  text-decoration: none;
  color: #508b0a;
  font-size: 1.5rem;
  letter-spacing: 0.1;
}
a:hover {
  text-decoration: underline;
}
a:active {
  color: #fff;
}
main {
  padding: 50px 100px;
  margin: 20px 0;
  text-align: center;
  background-color: #f4f4f4;
}
main section {
  height: 400px;
  margin: 20px 0;
}
#mapNeighbors {
  height: 500px;
  margin-bottom: 50px;
}
h1 {
  min-height: 40px;
}
.petition {
  background-color: #ff4c4c;
  color: #fff;
  margin: 30px 0;
  padding: 20px;
  font-size: 20px;
}
.petition a {
  text-decoration: underline;
  color: #fff;
}
